body{
    background-color: #525252;
}

.pager .active_link{
	background-color: #337ab7 !important;
	color: #fff !important;
}

.vertical-offset-100{
    padding-top:100px;
}

h2.product-name{
	text-transform: uppercase;
}

.hover{
	opacity: 0.6;
}

#map {
	height: 400px;
	width: 100%;
	margin-bottom: 40px;
}
 





